<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965712942840-tc5itvpmr8maubjnnqabugpg0e4lv5e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965712942840-tc5itvpmr8maubjnnqabugpg0e4lv5e1</string>
	<key>API_KEY</key>
	<string>AIzaSyDAzzMcjoqynBRbY_5Dn3bAJgRclqhREcw</string>
	<key>GCM_SENDER_ID</key>
	<string>965712942840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>basic.Flag</string>
	<key>PROJECT_ID</key>
	<string>ios-advanced-cd66a</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-advanced-cd66a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965712942840:ios:3a0e2c4240b8d4a99f8d0d</string>
</dict>
</plist>